/*
Как строиться css
СЕЛЕКТОР{
СВОЙСТВО:ЗНАЧЕНИЕ;
СВОЙСТВО:ЗНАЧЕНИЕ;
СВОЙСТВО:ЗНАЧЕНИЕ;
}
*/

/*Селектор по типу элемента*/
body {
    font-size: 46px;

}

/*--------------------------------------------Псевдоклассы--------------------------------------------*/

.test1 > button {
    font-size: 46px;
    background-color: red;
}

.test1 > button:hover {
    background-color: green;
}

.test1 > button:focus {
    background-color: yellow;
}

.test1 > button:active {
    background-color: blue;
}

.test2 > button {
    font-size: 36px;
}

/*найди первого ребенка у родителя*/
.test2 > button:first-child {
    background-color: pink;
}

/*найди последнего ребенка у родителя*/
.test2 > button:last-child {
    background-color: greenyellow;
}

/*найди нечетного ребенка у родителя*/
/*
.test2 > button:nth-child(odd) {
    background-color: #dc9af6;
}
*/
/*или*/
.test2 > button:nth-child(2n+1) {
    background-color: #dc9af6;
}

/*найди четного ребенка у родителя*/
/*
.test2 > button:nth-child(even) {
    background-color: #7c7878;
    padding: 5px 30px;
}
*/
/*или*/
.test2 > button:nth-child(2n) {
    background-color: #7c7878;
    padding: 5px 30px;
}

/*найди 3-го ребенка у родителя*/
.test2 > button:nth-child(3) {
    background-color: #f6f676;
}

/*найди каждого 3-го ребенка у родителя
n должен быть больше нуля
*/
.test2 > button:nth-child(3n) {
    background-color: #ffffff;
    padding: 5px 30px;
}

form input,
button {
    font-size: 36px;
}

input:required {
    border: 5px solid #ff0000;
}

.input_checkbox {
    height: 50px;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

input:checked {
    width: 50px;
    height: 50px;
}

input:disabled {
    outline: 5px solid darkred;
    /*background-color: pink;*/
}

input:not(.input) {
    background-color: yellow;
}

input:not([type='text']) {
    background-color: #77d36a;
}

/*input:not([type='password']){
    background-color: #dc9af6;
}*/
input:not(:not([type='password'])) {
    background-color: #dc9af6;
}

input:not(:not(:disabled)) {
    background-color: #9f5555;
}
/*--------------------------------------------Псевдоэлемент--------------------------------------------*/
.test-div::before {
    content: '🚀⌚💩✨ ';
}

.test-div::after {
    content: '🚀⌚💩✨ ';
}

.test-div1{
    position: relative;
    margin-left: 60px;
}
.test-div1::before {
    content: '';
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    margin-left: -60px;
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
}































































































































